<div class="container">
  <div class="row">
    <div class="mt-4 px-3 pt-4 pb-5">
      <h2>Admin: Benutzer verwalten</h2><%= link_to("neues Mitglied", new_admin_user_path) %>
    </div>
  </div>
  <table class="table table-hover member-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"><%= fa_icon("user-edit") %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>
