<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-8">
      <% if @document.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            Folgende Fehler sind aufgetreten: <%= pluralize(@document.errors.count, "error") %>.
          </div>
          <ul>
          <% @document.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_for(@document) do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <%= f.file_field :file, {class: "custom-file-input", "aria-describedby": "inputGroupFileAddon01"} %>
            <label id="document_file_label" class="custom-file-label" for="document_file">Datei auswählen</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      <% end %>
    </div>
  </div>
</div>
