<div class="container">
  <div class="row">
    <div class="mt-4 px-3 pt-4 pb-5">
      <h2>Dokumente</h2><%= link_to("neues Dokument", new_document_path) %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Tags</th>
        <th scope="col">Erstellt am</th>
        <th scope="col">Download</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @documents %>
    </tbody>
  </table>
</div>
