<div class="container">
  <div class="row">
    <div class="mt-4 px-3 pt-4 pb-5">
      <h2>Mitgliedsdaten</h2>
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>aktive Mitglieder</td>
        <td><%= MembershipType.full.first.members.count %></td>
      </tr>
      <tr>
        <td>ermäßigte Mitglieder</td>
        <td><%= MembershipType.discounted.first.members.count %></td>
      </tr>
      <tr>
        <td>passive Mitglieder</td>
        <td><%= MembershipType.passive.first.members.count %></td>
      </tr>
      <tr>
        <td>Fördermitglieder</td>
        <td><%= MembershipType.support.first.members.count %></td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="mt-4 px-3 pt-4 pb-5">
      <h2>Vereinsdaten</h2>
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>Vereinsnummer</td>
        <td>VR 6820, Amtsgericht Leipzig</td>
      </tr>
      <tr>
        <td>Gründungsdatum</td>
        <td>24.04.2019</td>
      </tr>
      <tr>
        <td>Bankverbindung</td>
        <td>IBAN: DE54 8306 5408 0004 1636 72 BIC: GENODEF1SLR Bank: Deutsche Skatbank</td>
      </tr>
      <tr>
        <td>Steuernummer</td>
        <td>231 / 140 / 32166</td>
      </tr>
      <tr>
        <td>Finanzamt</td>
        <td>Finanzamt Leipzig II<br/>
        Ansprechpartner Gemeinnützigkeit:<br />Sabine Bikowski (Sachbearbeiterin Körperschaftsteuer)<br />
        E-Mail: poststelle@fa-leipzig2.smf.sachsen.de</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="mt-4 px-3 pt-4 pb-5">
      <h2>Links:</h2>
    </div>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td>Online Banking</td>
        <td><a href="https://www.vrbank-altenburgerland.de/banking-business/entry" target="_blank">https://www.vrbank-altenburgerland.de/banking-business/entry</a></td>
      </tr>
      <tr>
        <td>Landessportbund</td>
        <td><a href="https://www.sport-fuer-sachsen.de" target="_blank">https://www.sport-fuer-sachsen.de</a></td>
      </tr>
      <tr>
        <td>Startsportbund</td>
        <td><a href="https://www.ssb-leipzig.de" target="_blank">https://www.ssb-leipzig.de</a></td>
      </tr>
    </tbody>
  </table>
</div>
